<section>
  <content>
    <h1 appScrollAnimate="fade-in-up">Mindfulness</h1>
    <p appScrollAnimate="fade-in-up">
      Mais do que um conceito teórico, o Mindfulness constitui-se essencialmente como prática e processo. Seu desenvolvimento demanda não apenas constância e empenho, mas igualmente, e de modo particular, leveza e desapego.
    </p>

    <p class="quotation quotation-margins" appScrollAnimate="fade-in-up">Ato radical de confiança em si mesmo.</p>

    <p appScrollAnimate="fade-in-up">
      O cientista Jon Kabat-Zinn integrou práticas budistas à medicina ocidental e desenvolveu técnicas a partir de estudos sobre dor crônica e ansiedade. Posteriormente, o psicólogo Mark Williams, em colaboração com outras pessoas pesquisadoras, ampliou esse trabalho ao relacionar a prática com a psicologia cognitivo-comportamental, reforçando sua eficácia em diferentes contextos clínicos e sociais.
    </p>

    <picture class="picture bio-pic" appScrollAnimate="fade-in-up">
      <img src="assets/images/JonKabat-Zinn.jpg" alt="Foto de Jon Kabat-Zinn" />
    </picture>

    <p class="quotation quotation-margins" appScrollAnimate="fade-in-up">
      Nossa natureza é cíclica e orgânica e não inorgânica como algoritmos e
      máquinas.
    </p>

    <p appScrollAnimate="fade-in-up">
      Na era que estamos, chamada pelo filósofo Byung-Chul Han de sociedade do cansaço, marcada pela exaustão de informações e pela busca incessante por um perfeccionismo performático, tendemos a almejar um funcionamento inorgânico, similar ao de máquinas e algoritmos. Contudo, a nossa natureza é cíclica: necessitamos de descanso, de digerir adequadamente os alimentos, de um sono noturno reparador e de nos autorregularmos em sintonia com o ecossistema.
    </p>

    <p appScrollAnimate="fade-in-up">
      O mindfulness promove a regulação da atenção e das emoções, ancorando-se no momento presente e cultivando uma postura de abertura e acolhimento à experiência, livre de julgamentos. Entre suas práticas fundamentais, destacam-se o body scan, a respiração consciente, a meditação em movimento e a aplicação da atenção plena às atividades cotidianas.
    </p>

    <p class="quotation quotation-margins" appScrollAnimate="fade-in-up">
      “Just this moment, just this breath, just this sitting here, just this
      being human. Just this. Just this.”- Jon Kabat-Zinn
    </p>
  </content>

  <button class="agendar" type="button" (click)="navigateToScheduling()">Agendar</button>
</section>
