@use "../../../../assets/styles/palette.scss" as palette;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: palette.$supportingColorWhite;
  width: 100%;
  align-items: center;
}
